<% content_for :title, "Login" %>
<header class="page-header">
  <h2><%=h yield(:title)%></h2>
</header>
<%= form_tag login_path do %>
    <div class="form-group">
        <%= label_tag :username %>
        <%= text_field_tag :username, params[:username], class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= label_tag :password %>
        <%= password_field_tag :password, '', class: 'form-control' %>
    </div>
    <%= submit_tag 'Login', class: 'btn btn-primary' %>
<% end %>