<% if @user.errors.any? %>
<ul class="errors list">
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<%= f.label :username , "Enter a Username" %>
<%= f.text_field :username %>
<%= f.label :email , "Enter an Email" %>
<%= f.text_field :email %>
<%= f.label :password , "Enter a Password" %>
<%= f.password_field :password %>
<%= f.label :password_confirmation , "Enter Confirmation" %>
<%= f.password_field :password_confirmation %>