<% if @user then %>
<% provide(:title, @user.username) %>
    <header>
        <h2><%= @user.username %></h2>
        <%= link_to "Back to all users", users_path, class: "btn btn-green" %>
    </header>
    <p>Email: <a href="mailto:<%= @user.email %>" target="_blank"><%= @user.email %></a></p>
    <%= link_to "Edit user", users_path, class: "btn btn-green" %>
    <%= link_to "Delete User", @user, class: "btn btn-red", method: :delete, data: { confirm: 'Are you sure?', disable_with: 'Deleting...' }%>
<% else %>
    <header>
        <h2>User not found</h2>
        <%= link_to "Back to all users", users_path, :class => "btn btn-green" %>
    </header>
<% end %>